<div id="imagen">
	<h3><%= @nombrePeli %></h3>
	<img src="assets/<%= @imagen %>" title="lOS VENGADORES">
</div>

<div id="descargas">
	<a href="" title="">Descarargar</a>
	<p>Mega</p>
	<a href="" title=""><%= @link %></a>
</div>